body {font-family: 'Titillium Web', sans-serif;background: #ad1313; color:white;}

header{margin-top: 75px;}
#testimonial{background: #da2727;
padding:50px 0 30px 0;
text-align: center;
margin-top: 40px;}

footer{background: url(../img/smartphones.png);}